absl-py
altair
amqp
appdirs
asgiref
astunparse
attrs
beautifulsoup4
billiard
blinker
cachetools
catboost
certifi
cffi
chardet
charset-normalizer
click
colorama
colormath
contourpy
cvzone
cycler
dj-database-url
Django
django-cleanup
django-crispy-forms
django-heroku
django-timezone-field
dlib
face-recognition
face_recognition_models
Faker
filelock
Flask
flatbuffers
fonttools
frozendict
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googlesearch-python
graphviz
grpcio
h5py
html5lib
ibm-db
idna
imageio
importlib-metadata
imutils
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
kombu
lazy_loader
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
mpmath
multitasking
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
passlib
peewee
Pillow
plotly
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
pyparsing
pyserial
python-crontab
python-dateutil
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-image
scikit-learn
scipy
seaborn
six
smmap
sounddevice
soupsieve
sqlparse
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
toml
toolz
torch
torchvision
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
vine
watchdog
webcolors
webencodings
Werkzeug
whitenoise
whois
wrapt
yfinance
zipp
